<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>


  <div class="form-group has-icon">
      <div class="user-edit-image">
        <div class="field">

          <%= f.label :name %><br/>
          <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_name %></div>
        <% end %><br>

        <%= f.label :introduction %><br/>
          <%= f.text_field :introduction, autofocus: true, autocomplete: "introduction" %>
      </div><br>
       
      <div class="image-field">
        <%= attachment_image_tag @user, :profile_image, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg", size: '200x200' %>
          <label class="control-label sr-only" for="profile_image">ProfileImage</label>
          <%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "user-edit-form" %>
     </div>


  <div class="actions">
    <%= f.submit "Update", class: 'btn btn-success' %>
  </div></div></div>
<% end %>

<%= link_to "Back", :back %>
