<div class="container">
  <div class="row">
  <%= render 'share/side', user: @user, book: @book %>
    <div class="col-md-9">
      <h2>Users</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th> </th>
          </tr>
        </thead>
        <% @users.each do |user| %>
          <tbody>
            <tr>
              <td>
                <%= attachment_image_tag user, :profile_image, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg", size: '50x50' %>
              </td>
              <td><%= user.name %></td>

              
              <td><%= link_to "show", user_path(user) %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>
<%= paginate @users, class: "pagenate" %>

